BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
BLOCK JTAGPATHS ;

IOBUF ALLPORTS IO_TYPE=LVCMOS33 ;

FREQUENCY PORT "clk_i" 120 MHz ;

LOCATE COMP "clk_i" SITE "C8" ;
LOCATE COMP "led_o[0]" SITE "H11" ;
LOCATE COMP "led_o[1]" SITE "J13" ;
LOCATE COMP "led_o[2]" SITE "J11" ;
LOCATE COMP "led_o[3]" SITE "L12" ;
LOCATE COMP "led_o[4]" SITE "K11" ;
LOCATE COMP "led_o[5]" SITE "L13" ;
LOCATE COMP "led_o[6]" SITE "N15" ;
LOCATE COMP "led_o[7]" SITE "P16" ;
LOCATE COMP "dip_sw_i[0]" SITE "N2" ;
LOCATE COMP "dip_sw_i[1]" SITE "P1" ;
LOCATE COMP "dip_sw_i[2]" SITE "M3" ;
LOCATE COMP "dip_sw_i[3]" SITE "N1" ;
